@charset "utf-8";
/* CSS Document */

.w1200{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	min-width: 1200px;
}
.header{
	width: 1200px;
	margin: 0 auto;
	height: 135px;
}
.header h1{
	float: left;
	margin: 41px 0 0 26px;
}
.header h2{
	float: left;
	font-size: 30px;
	color: #343434;
	line-height: 135px;
	margin: 0 34px 0 17px;
}
.header h3{
	float: left;
	font-size: 24px;
	color: #797979;
	line-height: 135px;
	font-weight: normal;
	font-family: '华文楷体';
}
.header .code{
	float: right;
	width: 108px;
	height: 121px;
	background: #fdfdfd;
	text-align: center;
	border: 1px solid #cbcbcb;
	margin: 7px 0 0 0;
}
.header .code img{
	margin-top: 6px;
}
.header .code p{
	font-size: 14px;
	color: #4d4d4d;
	line-height: 24px;
}

.header-bot{
	width: 100%;
	height: 52px;
	background: #7fbc23;
	min-width: 1200px;
}
.header-bot .nav{

}
.header-bot .nav li{
	
}
.header-bot .nav li a{
	float: left;
	font-size: 18px;
	color: #ffffff;
	line-height: 52px;
	padding: 0 35px;
	transition: all 300ms;
}
.header-bot .nav li a:hover,.header-bot .nav li a.on{
	background: #5fa511;
}
.header-bot .link{
	float: right;
}
.header-bot .link span{
	font-size: 14px;
	color: #ffffff;
	line-height: 52px;
	margin: 0 13px;
}
.header-bot .link a{
	font-size: 14px;
	color: #ffffff;
	line-height: 52px;
}
.header-bot .link a:hover{
	color: #474747;	
}
.header-slide{
	width: 73px;
	height: 198px;
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -99px;
	text-align: center;
	z-index: 900;
}
.header-slide a{
	float: left;
	width: 73px;
	margin-bottom: 1px;
	transition: all 300ms;
}
.header-slide a:hover{
	color: #474747;
}
.header-slide .qq{
	height: 25px;
	padding-top: 40px;
	font-size: 14px;
	color: #ffffff;
	line-height: 24px;
	background: #7fbc23 url(../img/header_slide.png) no-repeat center 6px;
}
.header-slide .code{
	height: 18px;
	padding-top: 47px;
	font-size: 14px;
	color: #ffffff;
	line-height: 18px;
	background: #7fbc23 url(../img/header_slide.png) no-repeat center -60px;
	position: relative;
}
.header-slide .top{
	height: 65px;
	background: #7fbc23 url(../img/header_slide.png) no-repeat center -126px;
}
.header-slide .code-img{
	position: absolute;
	right: 73px;
	top: -64px;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
}

.footer{
	width: 100%;
	height: 105px;
	background: #7fbc23;
	min-width: 1200px;
}
.footer .w1200{
	height: 105px;
}
.footer .nav{
	margin-top: 26px;
}
.footer .nav a{
	font-size: 14px;
	color: #ffffff;
	line-height: 22px;
	margin-right: 29px;
	transition: all 300ms;
}
.footer .nav span{
	font-size: 14px;
	color: #ffffff;
	line-height: 22px;
	margin-right: 25px;
}
.footer .nav a:hover{
	color: #474747;	
}
.footer p.form{
	position: absolute;
	left: 0;
	top: 54px;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.footer p.form a{
	color: #fff;
}
.footer p.form a:hover{
	color: #474747;
}
.footer .phone{
	text-align: right;
	margin-top: 20px;
	padding-left: 58px;
	background: url(../img/footer_ico.png) no-repeat 0 4px;
}
.footer .phone h3{
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
	line-height: 26px;
}
.footer .phone h4{
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	line-height: 34px;
}

.banner-bg{
	width: 100%;
	height: 500px;
	min-width: 1200px;
	position: relative;
}
.banner-bg .w1200{
	
}
.banner-bg .txt{
	position: absolute;
	width: 354px;
	height: 377px;
	right: 0;
	top: 57px;
	z-index: 5;
}
.banner-bg .txt .mask{
	position: absolute;
	width: 354px;
	height: 377px;
	right: 0;
	top: 0;
	background: #fff;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 4;
}
.banner-bg .txt .con{
	position: absolute;
	width: 328px;
	height: 377px;
	right: 0;
	top: 0;
	padding-left: 26px;
	z-index: 5;
}
.banner-bg .txt .con h3{
	font-weight: normal;
	font-size: 22px;
	color: #fff;
	line-height: 30px;
	padding-top: 49px;
}
.banner-bg .txt .con h4{
	font-size: 55px;
	color: #fff;
	line-height: 60px;
	font-weight: bold;
	margin: 29px 0 0;
}
.banner-bg .txt .con p{
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	opacity: 0.3;
	filter:alpha(opacity=30);
	margin: 5px 0 24px;
}
.banner-bg .txt .con .reg{
	display: inline-block;
	width: 309px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #7fbc23;
	color: #fff;
	font-size: 20px;
}
.banner-bg .txt .con .reg:hover{
	color: #474747;
}
.banner-bg .txt .con h5{
	font-size: 18px;
	color: #ffffff;
	line-height: 30px;
	margin-top: 14px;
	font-weight: normal;
	margin-left: 147px;
}
.banner-bg .txt .con h5 a{
	color: #fff;
}
.banner-bg .txt .con h5 a:hover{
	color: #474747;
}
.banner{
	width: 100%;
	height: 500px;
	min-width: 1200px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	background: url(../img/loadings.gif) no-repeat center center;
}
.banner ul{
	width: 100%;
	height: 500px;
	min-width: 1200px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner li{
	width: 100%;
	height: 500px;
	min-width: 1200px;
	position: absolute;
	left: 0;
	top: 0;
	display: =none;
	text-align: center;
}
.banner .btn{
	position: absolute;
	left: 50%;
	bottom: 42px;
}
.banner .btn span{
	width: 15px;
	height: 15px;
	margin: 0 8px;
	background: url(../img/banner_btn.png) no-repeat -15px 0;
	cursor: pointer;
}
.banner .btn span.on{
	background-position: 0 0;
}

.i-service{
	padding-top: 49px;
	padding-bottom: 70px;
}
.i-service .title{
	padding-bottom: 25px;
}
.i-service .title h3{
	text-transform: uppercase;
	font-size: 60px;
	color: #242424;
	font-weight: normal;
	line-height: 85px;
	height: 85px;
	width: 370px;
	text-align: center;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin: 0 auto;
}
.i-service .title h4{
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	text-transform: uppercase;
	width: 150px;
	text-align: center;
	margin: 25px auto 11px;
	color: #242424;
	font-weight: normal;
}
.i-service .title h4 em{
	float: left;
	width: 124px;
}
.i-service .title h4 i{
	float: left;
	width: 13px;
	height: 2px;
	background: #000;
	margin-top: 14px;
}
.i-service .title h5{
	font-weight: normal;
	font-size: 20px;
	color: #242424;
	line-height: 30px;
	text-align: center;
	margin-bottom: 11px;
}
.i-service .title p{
	text-align: center;
	font-size: 14px;
	color: #6d6d6d;
	line-height: 24px;
}
.i-service table{
	width: 1100px;
	margin: 0 auto;
}
.i-service table td{
	border: 1px solid #010101;
	width: 519px;
	padding: 33px 0 45px;
}
.i-service table td.left{
	border-left: none;
	padding-right: 30px;
}
.i-service table td.right{
	border-right: none;
	padding-left: 30px;
}
.i-service table td .img{
	border: 1px solid #000000;
}
.i-service table td .txt{

}
.i-service table td .txt.fr{
	text-align: right;
	margin-right: 16px;
}
.i-service table td .txt h3{
	font-size: 18px;
	color: #000000;
	font-weight: normal;
	line-height: 30px;
}
.i-service table td .txt .line{
	display: inline-block;
	margin: 2px 0 9px;
	width: 20px;
	height: 3px;
	background: #000;
}
.i-service table td .txt p{
	font-size: 22px;
	color: #000;
	line-height: 30px;
	text-transform: uppercase;
}
.i-service table td .txt.fl{
	text-align: left;
	margin-left: 16px;
}
.i-service .p-img{
	margin: 23px auto 35px;
	text-align: center;
}
.i-service .link{
	height: 42px;
	position: relative;
}
.i-service .link a{
	width: 143px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	position: absolute;
	top: 0;
	background: #7fbc23;
	font-size: 18px;
	color: #ffffff;
	transition: all 300ms;
}
.i-service .link a:hover{
	color: #474747;
}
.i-service .link a.left{
	right: 50%;
	margin-right: 96px;
}
.i-service .link a.right{
	left: 50%;
	margin-left: 96px;
}

.i-advantage{
	width: 100%;
	background: #f5f4f9;
}
.i-title{
	width: 1175px;
	margin: 0 auto;
	padding-top: 25px;
}
.i-title h3{
	font-weight: normal;
	font-size: 30px;
	color: #474747;
	line-height: 40px;
	text-align: center;
	height: 40px;
}
.i-title h3 i{
	float: left;
	height: 2px;
	background: #cecdd1;
	margin-top: 19px;
}
.i-title h3 em{
	float: left;
	padding: 0 20px;
}
.i-title p{
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	color: #9a9a9a;
	line-height: 30px;
}
.i-title .line{
	width: 91px;
	height: 2px;
	background: #7fbc23;
	display: block;
	margin: 9px auto 0;
}
.i-advantage .con{
	width: 1175px;
	margin: 40px auto 0;
}
.i-advantage .con ul{
	padding-bottom: 6px;
}
.i-advantage .con li{
	width: 368px;
	height: 156px;
	padding: 0 35px 40px 0;
}
.i-advantage .con li .bg{
	width: 368px;
	height: 156px;
	background: #fff;
	transition: all 300ms;
}
.i-advantage .con li .txt{
	width: 206px;
	margin: 19px 49px 0 0;
}
.i-advantage .con li .txt h4{
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #474747;
	height: 30px;
	overflow: hidden;
}
.i-advantage .con li .txt h5{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	color: #939393;
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}
.i-advantage .con li .txt .line{
	display: block;
	width: 58px;
	height: 2px;
	background: #7fbc23;
	margin: 11px 0;
}
.i-advantage .con li .txt p{
	font-size: 12px;
	color: #939393;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
}
.i-advantage .con li .img{
	width: 60px;
	height: 57px;
	margin: 23px 0 0 21px;
	background: url(../img/index_ico1.png) no-repeat;
}
.i-advantage .con li .img1{
	background-position: 0 0;
}
.i-advantage .con li .img2{
	background-position: -61px 0;
}
.i-advantage .con li .img3{
	background-position: -122px 0;
}
.i-advantage .con li .img4{
	background-position: -183px 0;
}
.i-advantage .con li .img5{
	background-position: -244px 0;
}
.i-advantage .con li .img6{
	background-position: -305px 0;
}
.i-advantage .con li:hover .bg{
	background: #7fbc23;
}
.i-advantage .con li:hover .img{
	background-image: url(../img/index_ico2.png);
}
.i-advantage .con li:hover .txt h4{
	color: #fff;
}
.i-advantage .con li:hover .txt h5{
	color: #fff;
}
.i-advantage .con li:hover .txt .line{
	background: #fff;
}
.i-advantage .con li:hover .txt p{
	color: #fff;
}

.i-process{

}
.i-process .con{
	padding-top: 20px;
	width: 1157px;
	margin: 0 auto;
	padding-bottom: 44px;
}
.i-process .left{
	width: 470px;
}
.i-process .left h4{
	font-size: 30px;
	color: #474747;
	line-height: 40px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 5px;
}
.i-process .left h4 em{
	color: #7fbc23;
	margin-right: 9px;
}
.i-process .left h5{
	font-weight: normal;
	font-size: 24px;
	color: #a5a5a5;
	line-height: 34px;
}
.i-process .left .line{
	width: 102px;
	height: 2px;
	display: block;
	background: #9c9c9c;
	margin: 36px 0 38px;
}
.i-process .left p{
	width: 400px;
	font-size: 18px;
	color: #9a9a9a;
	line-height: 31px;
}
.i-process .left p em{
	color: #7fbc23;
}
.i-process .left a{
	display: block;
	width: 159px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border-bottom: 2px solid #5f8e17;
	border-radius: 2px;
	background: #7fbc23;
	font-size: 24px;
	color: #f8f8f8;
	margin: 23px 0 0;
	transition: all 300ms;
}
.i-process .left a:hover{
	color: #474747;
}
.i-process .right{
	width: 674px;
	margin: 0 11px 0 0;
	position: relative;
}
.i-process .right .show{
	width: 417px;
	height: 295px;
	background: url(../img/index_bg.png) no-repeat 0 0;
}
.i-process .right .show ul{
	width: 417px;
	height: 295px;
	position: relative;
}
.i-process .right .show li{
	width: 417px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.i-process .right .show li p{
	font-size: 24px;
	color: #6f6f6f;
	line-height: 30px;
	margin-top: 13px;
	text-align: center;
}
.i-process .right .show li p em{
	color: #7fbc23;
}
.i-process .right .btn{
	width: 417px;
	height: 18px;
	margin-top: 12px;
	text-align: center;
}
.i-process .right .btn span{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 9px;
	background: url(../img/index_ico3.png) no-repeat 0 0;
	cursor: pointer;
}
.i-process .right .btn span.on{
	background-position: -19px 0;
}
.i-process .right .slide{
	position: absolute;
	right: 0;
	top: 0;
	width: 172px;
}
.i-process .right .slide li{
	width: 172px;
	height: 64px;
	background: #cbcbcb;
	margin-bottom: 2px;
}
.i-process .right .slide li .num{
	width: 60px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 26px;
	color: #f8f8f8;
}
.i-process .right .slide li .txt{
	width: 101px;
	margin-top: 11px;
}
.i-process .right .slide li .txt h4{
	font-weight: normal;
	font-size: 26px;
	color: #f8f8f8;
	line-height: 26px;
}
.i-process .right .slide li .txt p{
	text-transform: uppercase;
	font-size: 12px;
	color: #f8f8f8;
	line-height: 18px;
}
.i-process .right .slide li.on{
	background: #7fbc23;
}

.i-info{
	padding-bottom: 60px;
}
.i-info .con{
	padding-top: 33px;
	width: 1157px;
	margin: 0 auto;
}
.i-info .hide{
	width: 1157px;
	height: 109px;
	overflow: hidden;
	position: relative;
}
.i-info .hide ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 1157px;
	height: 109px;
	display: none;
}
.i-info .hide ul li{
	width: 578px;
	height: 109px;
}
.i-info .hide ul li .txt{
	width: 365px;
	margin-left: 21px;
}
.i-info .hide ul li .img{
	width: 166px;
	height: 100px;
	overflow: hidden;
}
.i-info .hide ul li .img:hover img{
	transform: scale(1.15);
}
.i-info .hide ul li .txt h5{
	font-weight: normal;
	font-size: 16px;
	color: #6e6e6e;
	line-height: 20px;
}
.i-info .hide ul li .txt h4{
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	height: 26px;
	overflow: hidden;
}
.i-info .hide ul li .txt h4 a{
	color: #000000;
}
.i-info .hide ul li .txt h4 a:hover{
	color: #7fbc23;
}
.i-info .hide ul li .txt p{
	font-size: 14px;
	line-height: 21px;
	color: #6d6d6d;
	height: 63px;
	overflow: hidden;
}
.i-info .btn{
	height: 14px;
	margin: 32px 0 0;
	text-align: center;
}
.i-info .btn span{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/index_ico4.png) no-repeat 0 0;
	cursor: pointer;
	margin: 0 5px;
}
.i-info .btn span.on{
	background-position: -15px 0;
}

.main-bg{
	width: 100%;
	background: #f5f4f9;
	padding: 52px 0 40px;
	min-width: 1200px;
}
.main-slide{
	border: 1px solid #dedede;
	border-top: 2px solid #7fbc23;
	width: 169px;
	background: #fff;
}
.main-slide h3{
	height: 55px;
	line-height: 55px;
	font-size: 18px;
	color: #343434;
	border-bottom: 1px solid #dedede;
}
.main-slide h3 a{
	display: block;
	padding-left: 20px;
	color: #343434;
}
.main-slide dl{

}
.main-slide dd{
	
}
.main-slide dd .first{
	display: block;
	padding-left: 60px;
	height: 53px;
	line-height: 53px;
	font-size: 14px;
	color: #6d6d6d;
	background: url(../img/slide_ico.png) no-repeat 29px 22px;
	border-bottom: 1px solid #e5e5e5;
}
.main-slide dd .first:hover,.main-slide dd .first.on{
	background-position: 29px -30px;
	color: #7fbc23;
}
.main-slide dd ul{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	display: none;
}
.main-slide dd li{
	width: 100%;
}
.main-slide dd li a{
	float: left;
	padding-left: 60px;
	font-size: 14px;
	height: 53px;
	line-height: 53px;
	width: 109px;
	color: #6d6d6d;
	background: url(../img/slide_ico.png) no-repeat 29px -82px;
}
.main-slide dd li a:hover,.main-slide dd li a.on{
	background-position: 29px -134px;
	color: #7fbc23;
}

.main-right{
	width: 1010px;
}

.member-top{
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 39px 0 43px;
}
.member-top .img{
	margin-left: 39px;
	width: 139px;
	height: 134px;
	overflow: hidden;
}
.member-top .txt{
	width: 760px;
	margin-right: 38px;
}
.member-top .txt .top{
	padding-bottom: 14px;
	border-bottom: 1px solid #eaeaea;
}
.member-top .txt .top h3{
	font-size: 18px;
	color: #363636;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	padding: 8px 0 7px;
	font-weight: normal;
}
.member-top .txt .top p{
	font-size: 14px;
	color: #6d6d6d;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}
.member-top .txt .bot{
	padding-top: 20px;
}
.member-top .txt .bot p{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 39px;
	font-size: 14px;
	color: #6d6d6d;
	padding-left: 37px;
	background: url(../img/member_ico1.png) no-repeat;
}
.member-top .txt .bot p a{
	color: #6d6d6d;
}
.member-top .txt .bot p a:hover{
	color: #7fbc23;
}
.member-top .txt .bot p.p1{
	background-position: 0 0;
}
.member-top .txt .bot p.p2{
	background-position: 0 -30px;
}
.member-top .txt .bot p.p3{
	background-position: 0 -60px;
}
.member-top .txt .bot p em i{
	color: #d62222;
}
.member-bot{
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 0 36px 0 38px;
	margin-top: 20px;
}
.main-title{
	border-bottom: 1px solid #e7e7e7;
	height: 48px;
	padding-top: 7px;
	width: 100%;
}
.main-title h3{
	float: left;
	font-size: 16px;
	color: #343434;
	line-height: 46px;
	height: 46px;
	border-bottom: 3px solid #7fbc23;
	margin-bottom: -1px;
}
.member-bot .con{
	margin-top: 24px;
	padding-bottom: 52px;
}
.member-bot table{
	width: 100%;
	text-align: center;
}
.member-bot table td{
	height: 74px;
	border-bottom: 1px dashed #eeeeee;
	font-size: 14px;
	color: #6e6e6e;
}
.member-bot table .tr1 td{
	background: #f3f3f3;
	height: 40px;
	font-size: 14px;
	color: #6e6e6e;
	font-weight: bold;
	border-bottom: none;
}
.member-bot table .td5 em{
	color: #d41313;
}
.member-bot table .td7 a{
	display: inline-block;
	width: 62px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #bcbcbc;
	font-size: 14px;
	color: #6e6e6e;
}
.member-bot table .td7 a:hover{
	background: #7fbc23;
	color: #fff;
}
.member-bot table .td8 a{
	font-size: 14px;
	color: #7fbc23;
}
.member-bot table .td8 a:hover{
	color: #d41313;
}
.member-bot table .td6.over{
	color: #a1a1a1;
}

.member-mask-bg{
	position: fixed;
	z-index: 100;
	background: #000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	filter:alpha(opacity=60);
	display: none;
}
.member-mask{
	width: 482px;
	height: 304px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -152px 0 0 -241px;
	z-index: 101;
	display: none;
}
.member-mask p{
	width: 308px;
	margin: 90px auto 0;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
}
.member-mask .close{
	position: absolute;
	right: 15px;
	top: 13px;
	width: 17px;
	height: 17px;
	background: url(../img/close.png) no-repeat 0 0;
}
.member-mask .link{
	margin: 70px auto;
	width: 280px;
}
.member-mask .link .sure,.member-mask .link .no{
	width: 96px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #ccc;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	margin: 0 20px;
	border: 0 none;
	/**display:inline;
	*zoom:1;*/
	cursor: pointer;
}
.member-mask .link .sure{
	background: #7fbc23;
}
.member-mask .link .sure:hover,.member-mask .link .no:hover{
	color: #474747;
}

.data-main{
	padding: 0 38px 85px;
	background: #fff;
	border: 1px solid #dedede;
}
.data-main form{
	margin-top: 40px;
}
.data-main .left{
	width: 367px;
}
.data-main .left li{
	width: 367px;
	height: 32px;
	margin-bottom: 24px;
}
.data-main .left li p{
	float: left;
	width: 47px;
	padding-right: 14px;
	text-align: right;
	font-size: 14px;
	color: #6f6f6f;
	line-height: 32px;
}
.data-main .left li input{
	float: left;
	width: 284px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #d8d8d8;
}

.data-main .left li .sex{
	width: 12px;
	height: 12px;
	padding: 0;
	border: none;
	margin: 11px 0 0 0;
}
.data-main .left li em{
	float: left;
	font-size: 14px;
	color: #717171;
	line-height: 32px;
	margin: 0 40px 0 6px;
}
.data-main .left li select{
	width: 145px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d8d8d8;
	float: left;
	font-size: 14px;
	color: #717171;
}
.data-main .left li select.city{
	margin-right: 13px;
}
.data-main .right{
	width: 402px;
}
.data-main .right h4{
	font-size: 16px;
	color: #464646;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 39px;
}
.data-main .right .img{
	width: 159px;
	height: 118px;
	border: 4px solid #eeeeee;
}
.data-main .right .upload{
	width: 207px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d8d8d8;
	padding-left: 5px;
	overflow: hidden;
	margin: 26px 0 0;
}
.data-main .right p{
	font-size: 12px;
	color: #989898;
	line-height: 24px;
	margin: 9px 0 0;
}
.data-main .submit{
	width: 126px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	border: none;
	background: #7fbc23;
	border-radius: 2px;
	margin: 29px auto 0;
	display: block;
}
.data-main .submit:hover{
	color: #474747;
}

.member-main{
	padding: 0 38px 65px;
	background: #fff;
	border: 1px solid #dedede;
}
.change-main form{
	width: 398px;
	margin: 40px auto 0;
}

.change-main form ul{
	width: 398px;
}
.change-main form li{
	width: 398px;
	height: 32px;
	line-height: 32px;
	padding-bottom: 24px;
}
.change-main form li p{
	float: left;
	width: 92px;
	font-size: 14px;
	color: #6f6f6f;
}
.change-main form li input{
	float: left;
	width: 284px;
	height: 30px;
	border: 1px solid #d8d8d8;
	line-height: 30px;
	padding: 0 10px;
}
.change-main form .submit{
	display: block;
	width: 156px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background: #7fbc23;
	border: none;
	margin: 16px auto 167px;
	border-radius: 2px;
}
.change-main form .submit:hover{
	color: #474747;
}

.order-main{
	padding-bottom: 39px;
}
.order-main .found{
	height: 32px;
	padding: 29px 0;
}
.order-main .found p{
	float: left;
	line-height: 32px;
	font-size: 12px;
	color: #6f6f6f;
	margin-right: 8px;
}
.order-main .found input{
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #d8d8d8;
	margin-right: 27px;
}
.order-main .found .input1{
	width: 155px;
}
.order-main .found .input2{
	width: 92px;
}
.order-main .found .start{
	width: 112px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d8d8d8;
	background: url(../img/select_ico.png) no-repeat 102px 4px;
	float: left;
	margin: 0;
}
.order-main .found em{
	float: left;
	margin: 0 5px;
	font-size: 16px;
	line-height: 32px;
}
.order-main .found .submit{
	width: 111px;
	height: 31px;
	line-height: 31px;
	margin: 0 0 0 11px;
	padding: 0;
	border: none;
	font-size: 14px;
	color: #ffffff;
	background: #7fbc23;
}
.order-main .found .submit:hover{
	color: #474747;
}
.order-main .choose{
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #e1e1e1;
	background: #f3f3f3;
	margin-bottom: 35px;
}
.order-main .choose li a{
	float: left;
	width: 186px;
	height: 38px;
	font-size: 14px;
	color: #6c6c6c;
}
.order-main .choose li a:hover,.order-main .choose li a.on{
	color: #fff;
	background: #7fbc23;
}
.laydate_body .laydate_y .laydate_yms ul#laydate_ys{
	float: none;
}
.order-main .con{
	
}
.order-main .con table{
	width: 932px;
	text-align: center;
}
.order-main .con th{
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	height: 38px;
	font-size: 14px;
	color: #6e6e6e;
}
.order-main .con .thl{
	border-left: 1px solid #c3c3c3;
}
.order-main .con .thr{
	border-right: 1px solid #c3c3c3;
}
.order-main .con td{
	height: 75px;
	border-bottom: 1px dashed #ededed;
	font-size: 14px;
	color: #6e6e6e;
}
.order-main .con td em{
	color: #d41313;
}
.order-main .con td .more{
	font-size: 12px;
	color: #a7a7a7;
}
.order-main .con td .more:hover{
	color: #7fbc23;
}
.order-main .con td .operation{
	display: block;
	font-size: 14px;
	color: #6e6e6e;
	width: 62px;
	height: 22px;
	border: 1px solid #bcbcbc;
	margin: 0 auto;
}
.order-main .con td .cancel{
	display: inline-block;
	font-size: 12px;
	color: #6e6e6e;
}
.order-main .con td .cancel:hover{
	color: #7fbc23;
}
.order-main .con td .operation:hover{
	color: #7fbc23;
}
.order-main .con td p strong{
	font-weight: normal;
	color: #a1a1a1;
}
.order-main .con .page{
	text-align: center;
	margin: 41px 0 0;
}
.evaluate-page{
	text-align: center;
	margin: 10px 0;
}
.refund-info{
	/*padding: 0 38px 65px;*/
    background: #fff;
    border: 1px solid #dedede;
    margin-top: 20px;
    padding-bottom: 50px;
}
.refund-info .title{
	height: 40px;
	line-height: 40px;
	background: #f3f3f3;
}
.refund-info .title h3{
	font-size: 14px;
	color: #6c6c6c;
	margin-left: 27px;
}
.refund-info table{
	width: 824px;
	margin: 31px auto 0;
	text-align: left;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 24px;
}
.refund-info table td{
	height: 36px;
}
.refund-info table em{
	color: #d41213;
}
.refund-info .img p{
	float: left;
	width: 70px;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 24px;
}
.refund-info .img{
	width: 824px;
	margin: 0 auto;
}
.refund-info .img .img-list{
	margin-top: 5px;
	width: 751px;
}
.refund-info .img .img-list li{
	padding: 0 10px 10px;
}

.member-mask.cancel form{
	width: 308px;
	margin: 10px auto 0;
}
.member-mask.cancel .p1{
	margin: 0;
	width: 82px;
}
.member-mask.cancel form .input{
	width: 226px;
}
.member-mask.cancel form label{
	width: 100%;
	margin-bottom: 8px;
	float: left;
}
.member-mask.cancel form label p{
	margin: 0;
	float: left;
	width: 205px;
	padding-left: 5px;
}
.member-mask.cancel form label input{
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 0 0;
}
.member-mask.cancel .link{
	margin: 30px auto;
}

.order-info{
	padding: 30px 0 18px;
}
.order-info .left{
	width: 455px;
}
.order-info .left .top{
	height: 40px;
	line-height: 40px;
	background: #f3f3f3;
}
.order-info .left .top h3{
	font-weight: normal;
	font-size: 14px;
	color: #6c6c6c;
	padding-left: 27px;
}
.order-info .left .block{
	border-right: 1px dashed #cccccc;
	padding: 22px 0 14px;
	border-bottom: 1px dashed #cccccc;
}
.order-info .left .block li{
	width: 100%;
	padding-bottom: 12px;
}
.order-info .left .block h4{
	font-weight: normal;
	float: left;
	width: 91px;
	text-align: right;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 24px;
}
.order-info .left .block p{
	float: left;
	font-size: 14px;
	color: #aaaaaa;
	line-height: 24px;
	width: 333px;
}
.order-info .left .block p a{
	color: #aaaaaa;
}
.order-info .left .block p a:hover{
	color: #7fbc23;
}

.order-info .right{
	width: 410px;
	margin-right: 15px;
	text-align: center;
	padding-top: 173px;
}
.order-info .right .btn{
	display: inline-block;
	width: 156px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #ffffff;
	background: #7fbc23;
}
.order-info .right a:hover{
	color: #474747;
}
.order-info .right h3{
	font-size: 30px;
	color: #333333;
	line-height: 77px;
	margin-bottom: 14px;
	padding-left: 84px;
	background: url(../img/order_ico1.png) no-repeat 28px 0;
	height: 77px;
}
.order-info .right p{
	font-size: 14px;
	color: #717171;
	line-height: 24px;
}
.order-info .right a{
	margin-top: 34px;
}

.order-info .info-ing-right{
	padding-top: 131px;
}
.order-info .info-ing-right h3{
	height: 82px;
	line-height: 82px;
	background: url(../img/order_ico2.png) no-repeat 28px 0;
}
.order-info .info-ing-right p{
	text-align: left;
	margin-bottom: 10px;
}
.order-info .info-ing-right .img{

}
.order-info .info-ing-right .img p{
	float: left;
	width: 83px;
	text-align: left;
}
.order-info .info-ing-right .img .con{
	width: 300px;
	text-align: left;
}
.order-info .info-ing-right .con li{
	padding: 0 15px 15px 0;
}
.order-info .info-ing-right .con li a{
	float: left;
	width: 83px;
	height: 81px;
	border: 1px solid #d9d9d9;
	margin: 0;
}
.info-finish-right{
	padding-top: 191px;
}
.info-finish-right h4{
	font-size: 30px;
	color: #333333;
	line-height: 40px;
	padding-top: 157px;
	background: url(../img/order_ico3.png) no-repeat center 0;
}
.order-info .info-evaluate-right{
	padding-top: 237px;
}
.order-info .info-evaluate-right h3{
	background-image: url(../img/order_ico4.png);
	height: 82px;
	line-height: 82px;
}
.order-info .info-close-right{
	padding-top: 254px;
}

.complain-main{

}
.complain-main .found .nbsp{
	width: 189px;
	height: 32px;
}
.complain-main .con td .cancel{
	font-size: 14px;
	color: #a0a0a0;
}

.main-menu{
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin: 30px 0 2px;
	overflow: hidden;
}
.main-menu ul{
	width: 933px;
}
.main-menu li{
	width: 321px;
	background: url(../img/refund_bg1.png) no-repeat 0 0;
	font-size: 14px;
	color: #ffffff;
	/*margin-left: -15px;*/
}
.main-menu .li2{
	background-position: 0 -45px;
	margin-left: -15px;
}
.main-menu .li3{
	background-position: 0 -90px;
	margin-left: -15px;
}
.main-menu li.on{
	background-image: url(../img/refund_bg2.png);
}

.refund-right{
	width: 427px;
	margin-right: 7px;
	padding-top: 32px;
}
.refund-right li{
	width: 100%;
	padding-bottom: 25px;
}
.refund-right li h4{
	float: left;
	font-weight: normal;
	font-size: 14px;
	color: #6d6d6d;
	width: 77px;
	line-height: 32px;
}
.refund-right li p{
	float: left;
	width: 350px;
	line-height: 32px;
	font-size: 14px;
	color: #989898;
}
.refund-right li p em{
	color: #ab1f1f;
}
.refund-right li select{
	float: left;
	width: 288px;
	padding-left: 16px;
	height: 30px;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #6f6f6f;
}
.refund-right li textarea{
	float: left;
	width: 328px;
	padding: 10px;
	border: 1px solid #d8d8d8;
	height: 137px;
	font-size: 14px;
	line-height: 24px;
	color: #6f6f6f;
}
.refund-right li .load{
	width: 350px;
}
.refund-right li .load .file-bg{
	width: 109px;
	height: 37px;
	position: relative;
	background: #7fbc23;
	font-size: 14px;
	color: #ffffff;
	line-height: 37px;
	text-align: center;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
}
.refund-right li .load .file-bg:hover{
	color: #474747;
}
.refund-right li .load .file-bg input{
	position: absolute;
	width: 182px;
	height: 37px;
	opacity: 0;
	filter:alpha(opacity=0);
	left: -73px;
	top: 0;
	cursor: pointer;
}
.refund-right li .load p{
	font-size: 12px;
	margin: 5px 0 0;
}
.refund-right li .load .submit{
	float: left;
	width: 153px;
	height: 43px;
	background: #7fbc23;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 2px;
	border: none;
	margin-top: 34px;
}
.refund-right li .load .submit:hover{
	color: #474747;
}
.refund-right .img-list dl{
	float: left;
}
.refund-right .img-list dd{
	float: left;
	padding: 0 4px 5px 0;
}

.refund-right .two{
	width: 295px;
	margin: 99px auto 0;
}
.refund-right .two h3{
	font-size: 26px;
	color: #333333;
	line-height: 40px;
	padding-top: 97px;
	margin: 0 0 16px 0;
	text-align: center;
	background: url(../img/order_ico1.png) no-repeat center 0;
}
.refund-right .two p{
	font-size: 14px;
	color: #717171;
	line-height: 24px;
}
.refund-right .two p em{
	color: #d41213;
}
.refund-right .two.success{
	width: 210px;
}
.refund-right .two.success h3{
	background: url(../img/order_ico3.png) no-repeat center 0;
	padding-top: 142px;
}

.refund-right .two.fail{
	margin-top: 36px;
	width: 100%;
}
.refund-right .two.fail p{
	line-height: 28px;
}
.refund-right .fail-img{
	margin-top: 10px;
}
.refund-right .fail-img p{
	width: 76px;
	float: left;
}
.refund-right .fail-img .img-list{
	width: 313px;
	margin-top: 6px;
}
.refund-right .fail-img .img-list dd{
	padding: 0 15px 5px 0;
}
.refund-right .link{
	height: 35px;
	line-height: 35px;
	margin-top: 47px;
}
.refund-right .link a{
	display: inline-block;
	width: 123px;
	height: 33px;
	margin: 0 33px 0 0;
	border: 1px solid #7fbc23;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
}
.refund-right .link a.return{
	color: #fff;
	background: #7fbc23;
}
.refund-right .link a.com{
	color: #818181;
}
.refund-right .link a.return:hover{
	color: #818181;
}
.refund-right .link a.com:hover{
	color: #7fbc23;
}

.seller-main{
	/*border: 1px solid #e0e0e0;*/
    padding: 0 38px 65px;
    background: #fff;
}
.seller-top{
	padding: 31px 0 33px;
	border-bottom: 1px solid #eaeaea;
}
.seller-top .img{
	width: 169px;
	height: 128px;
	overflow: hidden;
	position: relative;
}
.seller-top .img .mask-bg{
	height: 24px;
	width: 169px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
	filter:alpha(opacity=30);
}
.seller-top .img p{
	height: 24px;
	width: 169px;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.seller-top .img:hover p{
	color: #474747;
}
.seller-top .txt{
	width: 727px;
}
.seller-top .txt .h{
	height: 37px;
	margin-bottom: 14px;
}
.seller-top .txt .h h3{
	font-weight: normal;
	font-size: 18px;
	color: #363636;
	line-height: 37px;
	height: 37px;
	float: left;
}
.seller-top .txt .h a{
	float: left;
	margin: 9px 0 0 12px;
	height: 18px;
	line-height: 18px;
	width: 40px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	background: #ababab;
}
.seller-top .txt .h a:hover{
	background: #7fbc23;
}
.seller-top table{
	width: 727px;
	text-align: left;
}
.seller-top td{
	font-size: 14px;
	color: #6d6d6d;
	line-height: 28px;
}
.seller-top .tdh{
	color: #494949;
}
.seller-top .tdh.r{
	text-align: right;
}
.seller-center{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
}
.seller-center h3{
	font-size: 16px;
	color: #343434;
	line-height: 30px;
	margin: 10px 0 15px 25px;
	font-weight: normal;
}
.seller-center ul{
	margin-left: 25px;
	padding-bottom: 15px;
}
.seller-center li{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #6d6d6d;
	padding: 0 70px 0 37px;
	background: url(../img/seller_ico1.png) no-repeat;
}
.seller-center li a{
	color: #6d6d6d;
}
.seller-center li a:hover{
	color: #7fbc23;
}
.seller-center li.p1{
	background-position: 0 0;
}
.seller-center li.p2{
	background-position: 0 -30px;
}
.seller-center li.p3{
	background-position: 0 -60px;
}
.seller-center li.p4{
	background-position: 0 -90px;
}
.seller-center li.p5{
	background-position: 0 -120px;
}
.seller-center li.p6{
	background-position: 0 -150px;
}
.seller-center li em i{
	color: #d62222;
}
.seller-bot{

}
.seller-bot h3{
	font-weight: normal;
	font-size: 16px;
	color: #343434;
	line-height: 30px;
	padding: 16px 0 23px 25px;
}
.seller-bot table{
	width: 934px;
}
.seller-bot table th{
	border: 1px solid #e5e5e5;
	height: 43px;
	font-size: 16px;
	color: #6c6c6c;
	line-height: 24px;
	font-weight: normal;
	background: #fcfcfc;
}
.seller-bot table td{
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #6c6c6c;
	text-align: center;
	height: 43px;
	line-height: 24px;
}
.seller-bot .table1{
	margin-bottom: 40px;
}

.seller-order .found .nbsp{
	width: 189px;
	height: 32px;
}
.order-info .right.seller-order-pay h3{
	background-image: url(../img/order_ico5.png);
	height: 78px;
	line-height: 78px;
}
.seller-order .txt .file{
	display: none;
}
.seller-order .txt .con{
	text-align: center;
	width: 300px;
	margin: 26px auto 0;
}
.seller-order .txt .con li{
	padding: 0 7px 7px;
}
.info-give{

}
.info-give h4{
	font-size: 16px;
	color: #3b3b3b;
	line-height: 30px;
	margin-bottom: 23px;
}
.info-give form{

}
.order-info .info-give form p{
	font-size: 14px;
	color: #6f6f6f;
	line-height: 32px;
	float: left;
	width: 75px;
}
.info-give form select{
	height: 30px;
	border: 1px solid #d8d8d8;
	line-height: 30px;
	width: 292px;
	padding-left: 12px;
	font-size: 14px;
	color: #a1a1a1;
	float: left;
}
.info-give form .submit{
	display: inline-block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	width: 156px;
	background: #7fbc23;
	border-right: 2px;
	font-size: 16px;
	color: #ffffff;
	border: none;
	margin-top: 40px;
}
.info-give form .submit:hover{
	color: #474747;
}

.seller-refund-one.refund-right .link a{
	margin: 0 20px 0 0;
}
.seller-refund-one.refund-right .link a.yes{
	color: #fff;
	background: #7fbc23;
}
.seller-refund-one.refund-right .link a.no{
	color: #818181;
	background: #fff;
}
.seller-refund-one.refund-right .link a.yes:hover{
	color: #474747;
}
.seller-refund-one.refund-right .link a.no:hover{
	color: #7fbc23;
}
.evaluate-main-title form{
	margin-top: 9px;
}
.evaluate-main-title .text{
	float: left;
	height: 33px;
	line-height: 33px;
	width: 186px;
	padding: 0 10px;
	background: #f8f8f8;
	border: none;
	font-size: 12px;
	color: #969696;
}
.evaluate-main-title .submit{
	float: left;
	width: 83px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	font-size: 14px;
	color: #ffffff;
	background: #7fbc23;
	border-radius: 2px;
	border: none;
}

.evaluate-con{

}
.evaluate-con .tr{
	text-align: right;
}
.evaluate-con table{
	width: 932px;
	margin: 40px 0 0;
}
.evaluate-con table th{
	height: 45px;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
	background: #fcfcfc;
	font-weight: normal;
	text-align: center;
}
.evaluate-con table th p{
	display: inline-block;
}
.evaluate-con table th i{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/star_img.png) no-repeat 0 0;
	margin-left: 7px;
}
.evaluate-con table .back{
	float: right;
	width: 96px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #7fbc23;
	font-size: 14px;
	color: #fff;
}
.evaluate-con table td{
	height: 192px;
}
.evaluate-con table td p{
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
}
.evaluate-con table td .img{
	margin: 10px 0 10px;
} 
.evaluate-con table td .img a{
	float: left;
	border: 1px solid #d9d9d9;
	width: 83px;
	height: 81px;
	overflow: hidden;
}
.evaluate-con table td .img li{
	padding: 0 15px 0 0;
}
.evaluate-mask{

}
.evaluate-mask .eva-con{
	width: 415px;
	margin: 48px auto 0;
}
.evaluate-mask .eva-con h4{
	float: left;
	width: 81px;
	font-weight: normal;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
}
.evaluate-mask .eva-con p{
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
	width: 334px;
	margin: 0;
	float: left;
}
.evaluate-mask form{
	width: 415px;
	margin: 0 auto 0;
}
.evaluate-mask form .p1{
	float: left;
	width: 61px;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 24px;
	margin: 0;
	padding-right: 20px;
	text-align: right;
}
.evaluate-mask form textarea{
	width: 321px;
	height: 98px;
	font-size: 14px;
	line-height: 24px;
	float: left;
	padding: 0 5px;
}
.evaluate-mask .link{
	margin: 32px auto 0;
	height: 32px;
	text-align: center;
}

.count-main{

}
.count-main .txt{
	height: 24px;
	overflow: hidden;
	margin: 27px 0 0;
}
.count-main .txt p{
	float: left;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 24px;
	width: 310px;
}
.count-main .txt p em{
	color: #c21b1b;
}
.count-main .select{
	height: 32px;
	margin: 18px 0 30px;
}
.count-main .select p{
	float: left;
	width: 49px;
	font-size: 16px;
	color: #6e6e6e;
	line-height: 32px;
}
.count-main .select select{
	float: left;
	width: 102px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #6f6f6f;
	border: 1px solid #d8d8d8;
}
.count-main .table1{
	margin-bottom: 30px;
}
.count-main table{
	width: 932px;
}
.count-main table th{
	border: 1px solid #e5e5e5;
	background: #fcfcfc;
	height: 43px;
	font-size: 16px;
	color: #6c6c6c;
	font-weight: normal;
}
.count-main table td{
	text-align: center;
	border: 1px solid #e5e5e5;
	height: 43px;
	font-size: 14px;
	color: #6c6c6c;
}

.store-set{
	padding-top: 20px;
}
.store-set li{
	padding: 12px 0;
}
.store-set li p{
	text-align: right;
	font-size: 14px;
	color: #6c6c6c;
	line-height: 24px;
	width: 84px;
	float: left;
}
.store-set li .right{
	width: 786px;
}
.store-set li strong{
	font-size: 16px;
	color: #464646;
	line-height: 26px;
}
.store-set li input{
	width: 284px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #d8d8d8;
}
.store-set li textarea{
	border: 1px solid #d8d8d8;
	padding: 5px 10px;
	height: 109px;
	width: 434px;
}
.store-set li h5{
	font-weight: normal;
	font-size: 12px;
	color: #969696;
	line-height: 24px;
	margin: 5px 0 14px;
	font-weight: normal;
}
.store-set li .file{
	display: none;
}
.store-set li a.up{
	display: inline-block;
	width: 109px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	font-size: 14px;
	color: #ffffff;
	background: #7fbc23;
}
.store-set li a.up:hover{
	color: #474747;
}
.store-set li .right .img{
	margin-bottom: 20px;
}
.store-set li .right ol li{
	padding: 0 11px 0 0;
}
.store-set .submit{
	width: 132px;
	height: 37px;
	padding: 0;
	text-align: center;
	line-height: 37px;
	background: #7fbc23;
	font-size: 16px;
	color: #ffffff;
	border: none;
	display: block;
	margin: 28px auto 0;
}
.store-set .submit:hover{
	color: #474747;
}
.store-set select{
	width: 115px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #6f6f6f;
	padding-left: 14px;
}
.store-set li .num{
	width: 110px;
}
.store-set li label em{
	font-size: 14px;
	color: #6f6f6f;
	line-height: 24px;
	margin-left: 10px;
}
.store-set li h6{
	font-weight: normal;
	font-size: 12px;
	color: #969696;
	line-height: 24px;
	margin: 6px 0 0;
}
.store-set li .up-img{
	margin-bottom: 20px;
}

.store-goods{

}
.store-goods .title{
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #f5f5f5;
	font-size: 16px;
	color: #4b4b4b;
	margin: 39px 0 0;
}
.store-goods .title span{
	float: left;
	height: 36px;
}
.store-goods .title .span1{
	width: 361px;
}
.store-goods .title .span2{
	width: 134px;
}
.store-goods .title .span3{
	width: 119px;
}
.store-goods .title .span4{
	width: 130px;
}
.store-goods .title .span5{
	width: 188px;
}
.store-goods .delet-con{
	height: 22px;
	line-height: 22px;
	padding: 15px 0 16px;
	/*border-bottom: 1px solid #e7e7e7;*/
}
.store-goods .delet-con label{
	height: 22px;
	font-size: 14px;
	color: #717171;
	float: left;
	margin-right: 21px;
}
.store-goods .delet-con label input{
	margin: 5px 6px 0 0;
	float: left;
	width: 12px;
	height: 12px;
}
.store-goods .delet-con a{
	float: left;
	width: 54px;
	height: 22px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background: #8b8b8b;
}
.store-goods .delet-con a:hover{
	background: #7fbc23;
}
.store-goods .list{

}
.store-goods .list li{
	width: 932px;
	padding: 20px 0;
	border-top: 1px solid #e7e7e7;
	height: 84px;
	overflow: hidden;
}
.store-goods .list li input{
	float: left;
	width: 12px;
	height: 12px;
	margin: 33px 20px 0 0;
}
.store-goods .list li img{
	float: left;
}
.store-goods .list li p{
	float: left;
	width: 195px;
	margin: 15px 11px 0 20px;
	font-size: 14px;
	color: #747474;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
}
.store-goods .list li h4{
	font-weight: normal;
	float: left;
	width: 134px;
	text-align: center;
	font-size: 14px;
	color: #6f6f6f;
	line-height: 24px;
	margin: 28px 0 0;
}
.store-goods .list li strong{
	font-weight: normal;
	text-align: center;
	width: 117px;
	margin: 28px 0 0;
	font-size: 16px;
	color: #cb2323;
	line-height: 24px;
	float: left;
}
.store-goods .list li h5{
	font-weight: normal;
	text-align: center;
	margin: 28px 0 0;
	width: 129px;
	float: left;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 24px;
}
.store-goods .list li .link{
	float: left;
	width: 187px;
	text-align: center;
	height: 23px;
	margin-top: 27px;
}
.store-goods .list li .link a{
	display: inline-block;
	width: 52px;
	height: 23px;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	color: #ffffff;
	background: #7fbc23;
	margin: 0 7px;
}
.store-goods .list li .link .del{
	background: #8b8b8b;
}
.store-goods .list li .link a:hover{
	color: #000;
}
.store-goods .page{
	text-align: center;
	margin: 20px 0 0;
}
.bill-title{

}
.bill-title .submit{
	float: right;
	width: 111px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background: #7fbc23;
	margin: 11px 0 0;
}
.bill-title .submit:hover{
	color: #474747;
}
.bill-main select{
	float: left;
	width: 92px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	color: #6f6f6f;
	padding-left: 10px;
}
.bill-main .found p.nbsp{
	width: 300px;
}
.bill-con{
	margin: 24px 0 0;
}
.bill-con table{
	width: 932px;
}
.bill-con table th{
	font-size: 14px;
	color: #6e6e6e;
	line-height: 24px;
	height: 40px;
	background: #f3f3f3;
}
.bill-con table td{
	text-align: center;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 24px;
	height: 75px;
	border-bottom: 1px dashed #ededed;
}
.bill-con table td em{
	color: #d41313;
}
.bill-con table td a{
	color: #7fbc23;
}
.bill-con table td a:hover{
	color: #474747;
}
.bill-con .page{
	text-align: center;
	margin: 40px 0;
}

.bill-mask{

}
.bill-mask p{
	text-align: center;
}
.bill-mask .link{
	text-align: center;
}

.bill-look-top{
	border-bottom: 1px dashed #cccccc;
	padding: 18px 0 29px;
}
.bill-look-top p{
	font-size: 16px;
	color: #6f6f6f;
	line-height: 39px;
}
.bill-look-top p i{
	color: #c12d2d;
	margin: 0 63px 0 0;
}
.bill-look-top p b{
	font-weight: normal;
	font-size: 14px;
	color: #6d6d6d;
}
.bill-look-top p em{
	color: #ca3030;
}
.bill-look-top p strong{
	font-size: 18px;
	color: #af2b2b;
}
.bill-look-top .submit{
	width: 125px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	display: block;
	background: #7fbc23;
	font-size: 14px;
	color: #ffffff;
	border: none;
	margin: 38px auto 0;
}
.bill-look-top .submit:hover{
	color: #474747;
}

.bill-con .tl{
	text-align: left;
	text-indent: 2em;
}

.staff-con{
	margin: 24px 0 0;
}
.staff-con table{
	width: 932px;
}
.staff-con table th{
	font-size: 14px;
	color: #6e6e6e;
	line-height: 24px;
	height: 40px;
	background: #f3f3f3;
}
.staff-con table td{
	text-align: center;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 24px;
	height: 93px;
	border-bottom: 1px dashed #ededed;
}
.staff-con table .img{
	display: inline-block;
	width: 65px;
	height: 65px;
	position: relative;
	overflow: hidden;
}
.staff-con table .img-mask{
	width: 65px;
	height: 65px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/staff_mask.png) no-repeat 0 0;
}
.staff-con table p{
	
}
.staff-con table .tr{
	text-align: left;
}
.staff-con table p{
	display: inline-block;
}
.staff-con table i{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/star_img.png) no-repeat 0 0;
	margin-left: 6px;
}
.staff-con table a{
	display: inline-block;
	width: 62px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #bcbcbc;
	font-size: 14px;
	color: #6e6e6e;
}
.staff-con table a:hover{
	color: #7fbc23;
}
.staff-con .page{
	text-align: center;
	margin: 20px 0;
}

.join-info{
	border: 1px solid #e0e0e0;
	padding: 0 33px 45px 29px;
    background: #fff;
}
.join-info .con{
	padding-bottom: 30px;
	line-height: 24px;
	font-size: 14px;
	color: #6e6e6e;
	border-bottom: 1px solid #ededed;
}
.join-info .con img{
	max-width: 100%;
}
.join-info .con h3{
	font-size: 18px;
	color: #343434;
	line-height: 30px;
	text-align: center;
	padding: 35px 0;
}
.join-info-bot{
	padding: 24px 0 0;
	position: relative;
}
.join-info-bot p{
	font-size: 14px;
	color: #ababab;
	line-height: 22px;
}
.join-info-bot p a{
	color: #ababab;
}
.join-info-bot p a:hover{
	color: #7fbc23;
}
.join-info-bot .back{
	font-size: 14px;
	color: #ababab;
	line-height: 22px;
	position: absolute;
	right: 0;
	top: 24px;
}
.join-info-bot .back:hover{
	color: #7fbc23;
}

.about-slide dd li a:hover, .about-slide dd li a.on{
	background: #7fbc23 url(../img/about_slide.png) no-repeat 29px 22px;
	color: #fff;
}
.about-slide dd li a{
	border-bottom: 1px solid #e5e5e5;
}
.about-slide{
	border-bottom: none;
}

.join-info .con.about-con{
	border-bottom: none;
}

.news-list{
	margin-top: 30px;
}
.news-list ul{
	width: 100%;
}
.news-list li{
	width: 100%;
	padding-bottom: 30px;
}
.news-list li .img{
	width: 206px;
	height: 118px;
	overflow: hidden;
}
.news-list li .img:hover img{
	transform: scale(1.15);
}
.news-list li .txt{
	width: 700px;
}
.news-list li .txt h3{
	font-size: 16px;
	color: #6e6e6e;
	line-height: 30px;
	margin: 2px 0 3px;
	height: 30px;
	overflow: hidden;
}
.news-list li .txt h3 a{
	color: #6e6e6e;
}
.news-list li .txt h3 a:hover{
	color: #7fbc23;
}
.news-list li .txt p{
	font-size: 14px;
	color: #979797;
	line-height: 21px;
	height: 42px;
	overflow: hidden;
}
.news-list li .txt .more{
	display: block;
	width: 26px;
	height: 26px;
	background: url(../img/news_ico.png) no-repeat 0 0;
	margin-top: 14px;
}
.news-list li .txt .more:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.news-page{
	text-align: center;
	margin: 5px 0 0;
}
.contact-con{
	position: relative;
}
.contact-con h3{
	font-size: 24px;
	color: #5fa511;
	line-height: 30px;
	padding: 31px 0 38px;
}

.contact-con .where{
	margin-bottom: 17px;
}
.contact-con .where p{
	height: 28px;
	line-height: 28px;
	float: left;
	font-size: 18px;
	color: #6b6b6b;
	padding-left: 46px;
	margin-right: 50px;
	background: url(../img/contact_ico.png) no-repeat 0 0;
}
.contact-con .where li{
	padding-bottom: 32px;
	width: 674px;
}
.contact-con .where p.p2{
	background-position: 0 -45px;
}
.contact-con .where p.p3{
	background-position: 0 -100px;
}
.contact-code{
	position: absolute;
	right: 161px;
	top: 87px;
	text-align: center;
}
.contact-code p{
	font-size: 14px;
	color: #4e4e4e;
	line-height: 24px;
	margin-bottom: 5px;
}
.contact-code img{
	border: 1px solid #d9d9d9;
}

.help-con{
	margin-top: 20px;
}
.help-con li{
	padding-bottom: 30px;
}
.help-con li h3{
	font-weight: normal;
	font-size: 16px;
	color: #343434;
	line-height: 30px;
	padding: 4px 0 10px;
	height: 30px;
	overflow: hidden;
}
.help-con li h3 a{
	color: #343434;
}
.help-con li h3 a:hover{
	color: #7fbc23;
}
.help-con li p{
	font-size: 14px;
	color: #979797;
	line-height: 21px;
	height: 42px;
	overflow: hidden;
}
.help-con li .more{
	display: block;
	width: 95px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #5fa511;
	font-size: 14px;
	color: #ffffff;
	margin-top: 18px;
}
.help-con li .more:hover{
	color: #474747;
}
.help-info{
	padding-top: 14px;
	font-size: 14px;
	color: #979797;
	line-height: 22px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.help-info img{
	max-width: 100%;
}
.help-info h3{
	font-size: 16px;
	color: #343434;
	line-height: 32px;
	font-weight: normal;
	margin: 9px 0;
}
.reg-bg{
	width: 100%;
	min-width: 1200px;
	height: 880px;
	background: url(../img/reg_bg.jpg) no-repeat center center;
}
.reg-header{
	padding: 41px 0 0;
	width: 207px;
	margin: 0 auto 76px;
}
.reg-header h1{
	float: left;
}
.reg-header p{
	float: left;
	font-size: 30px;
	color: #ffffff;
	line-height: 51px;
	margin-left: 18px;
}
.reg-main{
	width: 898px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #1fa6c4;
	padding: 50px 0 32px;
	box-shadow: 0 0 1px #1fa6c4;
}
.reg-left{
	width: 490px;
	margin-left: 57px;
}
.reg-left h2{
	width: 332px;
	height: 23px;
	overflow: hidden;
	background: url(../img/reg_title.png) no-repeat 0 0;
	text-indent: -999px;
	margin-bottom: 33px;
}
.reg-form{

}
.reg-form ul{
	width: 100%;
}
.reg-form li{
	width: 100%;
	padding-bottom: 25px;
}
.reg-form li p{
	float: left;
	width: 99px;
	margin-right: 25px;
	text-align: right;
	font-size: 14px;
	color: #454545;
	line-height: 32px; 
}
.reg-form li input{
	float: left;
	width: 175px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #d8d8d8;
}
.reg-form li input.short{
	width: 84px;
}
.reg-form li .send{
	width: 84px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #7fbc23;
	font-size: 12px;
	color: #fefefe;
	float: left;
	margin-left: 7px;
}
.reg-form li .send:hover{
	color: #474747;
}
.reg-form li .code{
	float: left;
	width: 84px;
	height: 32px;
	overflow: hidden;
	margin-left: 7px;
}
.reg-form li .submit{
	width: 198px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	border: none;
	border-radius: 2px; 
	background: #7fbc23;
	margin-left: 123px;
}
.reg-form li .submit:hover{
	color: #474747;
}

.reg-right{
	height: 421px;
	width: 350px;
	border-left: 1px solid #bcbcbc;
}
.reg-right h3{
	text-align: center;
	padding-top: 104px;
	font-size: 16px;
	color: #5d5d5d;
	line-height: 30px;
	font-weight: normal;
}
.reg-right h3 a{
	color: #7fbc23;
	padding-right: 12px;
	background: url(../img/reg_ico1.png) no-repeat right 8px;
}
.reg-right p{
	text-align: center;
	font-size: 12px;
	color: #7a7a7a;
	line-height: 24px;
	margin: 22px 0 19px;
}
.reg-right .link{
	text-align: center;
	height: 58px;
}
.reg-right .link a{
	width: 58px;
	height: 58px;
	display: inline-block;
	margin: 0 12px;
	background: url(../img/reg_ico.png) no-repeat 0 0;
}
.reg-right .link a.qq{
	background-position: 0 0;
}
.reg-right .link a.blog{
	background-position: -83px 0;
}
.reg-right .link a.pay{
	background-position: -164px 0;
}
.reg-right .link a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.login-main{
	width: 712px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #1fa6c4;
	padding: 49px 0 46px;
	box-shadow: 0 0 1px #1fa6c4;
}
.login-choose{
	width: 258px;
	height: 41px;
	margin: 0 auto 36px;
}
.login-choose a{
	float: left;
	width: 127px;
	height: 39px;
	line-height: 41px;
	text-align: center;
	border: 1px solid #7fbc23;
	background: #fff;
	color: #7fbc23;
	font-size: 16px;
}
.login-choose a.on,.login-choose a:hover{
	background: #7fbc23;
	color: #fff;
}

.login-con{
	width: 383px;
	margin: 0 auto;
	display: none;
}
.login-con input{
	width: 339px;
	height: 43px;
	line-height: 43px;
	padding-left: 42px;
	border: 1px solid #d8d8d8;
	margin-bottom: 26px;
	background: url(../img/login_ico.png) no-repeat 14px 13px;
	font-size: 12px;
	color: #9f9f9f;
}
.login-con .password{
	background-position: 14px -53px;
}
.login-con .line1{
	height: 20px;
	margin: 9px 0 35px;
}
.login-con .line1 label{
	float: left;
}
.login-con .line1 input{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding: 0;
	background: none;
	border: 1px solid #d8d8d8;
	margin: 0 10px 0 0;
}
.login-con .line1 em{
	float: left;
	font-size: 12px;
	color: #a3a3a3;
	line-height: 20px;
}
.login-con .line1 a{
	font-size: 12px;
	color: #a3a3a3;
	line-height: 20px;
}
.login-con .line1 a:hover{
	color: #7fbc23;
}
.login-con .submit{
	padding: 0;
	border: none;
	margin: 0 0 0;
	width: 383px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #7fbc23;
	font-size: 16px;
	color: #ffffff;
	border-radius: 4px;
}
.login-con .submit:hover{
	color: #474747;
}
.login-con p{
	height: 24px;
	line-height: 24px;
	padding: 10px 0 10px;
	border-bottom: 1px solid #c4c4c4;
	font-size: 14px;
	color: #5d5d5d;
}
.login-con p a{
	color: #7fbc23;
	padding-right: 14px;
	background: url(../img/reg_ico1.png) no-repeat right center;
}
.login-con .line2{
	margin: 13px 0 0;
}
.login-con .line2 p{
	padding: 0;
	border: none;
	font-size: 12px;
	color: #7a7a7a;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 4px 0;
}
.login-con .line2 .link{
	text-align: center;
	height: 38px;
}
.login-con .line2 .link a{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 9px;
	background: url(../img/login_ico1.png) no-repeat 0 0;
}
.login-con .line2 .link .blog{
	background-position: -56px 0;
}
.login-con .line2 .link .pay{
	background-position: -110px 0;
}
.login-con .line2 .link a:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.forget-main{
	width: 712px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #1fa6c4;
	padding: 0 0 46px;
	box-shadow: 0 0 1px #1fa6c4;
}
.forget-title{
	text-align: center;
	width: 390px;
	border-bottom: 1px solid #c4c4c4;
	margin: 0 auto;
}
.forget-title h2{
	font-weight: normal;
	font-size: 20px;
	color: #7a7a7a;
	line-height: 30px;
	padding: 46px 0 15px;
}
.forget-con{
	width: 436px;
	margin: 45px auto 0;
}
.forget-con li{
	width: 436px;
	height: 40px;
	padding-bottom: 29px;
}
.forget-con li p{
	float: left;
	width: 102px;
	padding-right: 24px;
	font-size: 14px;
	color: #454545;
	line-height: 40px;
	text-align: right;
}
.forget-con li input{
	float: left;
	width: 264px;
	height: 38px;
	padding: 0 10px;
	line-height: 38px;
	border: 1px solid #d8d8d8;
}
.forget-con li input.short{
	width: 127px;
}
.forget-con li .send{
	float: left;
	width: 118px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #7fbc23;
	font-size: 14px;
	color: #fefefe;
	margin-left: 19px;
}
.forget-con li .send:hover{
	color: #474747;
}
.forget-con li .submit{
	border: none;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 389px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: none;
	background: #7fbc23;
	font-size: 16px;
	color: #ffffff;
}
.forget-con li .submit:hover{
	color: #474747;
}
.reg-mask h3{
	font-weight: normal;
	text-align: center;
	line-height: 24px;
	font-size: 18px;
	padding-top: 56px;
}
.reg-mask p{
	margin: 30px auto 0;
}



